
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutMain.cshtml";
}

<!-- Phần Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">TOEIC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Bài Giảng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tai-lieu.html">Tài Liệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nhan-xet.html">Nhận Xét</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="dang-ky.html">Đăng Ký</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="trang-trac-nghiem.html">Thi Thử</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
        </form>
    </div>
</nav>
<!-- Hết Phần Header -->
<!-- Phần Banner -->
<div class="banner">
    <div class="background-banner"></div>
    <div class="container">
        <div class="row">
            <div class="text-center m-auto banner-title">
                <h1>luyện thi TOEIC</h1>
                <p>miễn phí, cho mọi người</p>
            </div>
        </div>
    </div>
</div>
<!-- Hết Phần Banner -->