<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/style.css">

    <title>Toeic.com | Trang thi trắc nghiệm</title>

</head>

<body>

    <!-- Phần Body -->
    <div class="test-page">

        <div class="container">

            @RenderBody()

        </div>

    </div>
    <!-- Hết Phần Body -->
    <!-- Phần Footer -->
    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>
            Thi trắc ngiệm - đồ án thực tập Chuyên Nghành <a href="https://www.w3schools.com" data-toggle="tooltip"
                                                             title="Thi trắc ngiệm - đồ án thực tập Chuyên Nghành">www.toeic.com</a>
        </p>
    </footer>
    <!-- Hết Phần Footer -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- main js -->
    <script src="~/Content/Client/js/main.js"></script>
</body>

</html>