
    <div id="tab1" class="tabcontent">
        <h3>Ngữ Pháp Cơ Bản</h3>
        <div class="tab-container">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ul>
                            <li>
                                <a href="chi-tiet-bai-giang.html">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="chi-tiet-bai-giang.html">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="chi-tiet-bai-giang.html">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="chi-tiet-bai-giang.html">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="chi-tiet-bai-giang.html">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="chi-tiet-bai-giang.html">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <ul>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                            <li>
                                <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, et.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>