
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="templatemo-sidebar">

    <header class="templatemo-site-header">
        <img src="~/Areas/Assets/Image/logo.png" height="30" width="45" />
        <h2>TOEIC.COM</h2>
    </header>
        
    <nav class="templatemo-left-nav">

        <ul>
            <li><a href="#" class="active"><i class="fa fa-home"></i>Dashboard</a></li>
            <li><a href="#"><i class="fa fa-bar-chart fa-fw"></i>Charts</a></li>
            <li><a href="#"><i class="fa fa-database fa-fw"></i>Data Visualization</a></li>
            <li><a href="#"><i class="fa fa-map-marker fa-fw"></i>Maps</a></li>
            <li><a href="#"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>
            <li><a href="#"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>
            <li><a href="#"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
        </ul>

    </nav>

</div>

