<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Areas/Assets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Assets/style.css" rel="stylesheet" />
    <title>Luyện thi TOEIC - Quản lý</title>
</head>
<body>


    <div class="templatemo-flex-row">

        @RenderBody()

        <div class="templatemo-content col-1 light-gray-bg">

            <div class="templatemo-top-nav-container">
                <div class="row">
                    <nav class="templatemo-top-nav col-lg-12 col-md-12">
                        <ul class="text-uppercase">
                            <li><a href="" class="active">Admin panel</a></li>
                            <li><a href="">Dashboard</a></li>
                            <li><a href="">Overview</a></li>
                            <li><a href="login.html">Sign in form</a></li>
                            <li><a href="login.html">Sign in form</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            @* right main *@
            <div class="templatemo-content-container">


            </div>
            @* end right *@

        </div>

    </div>


</body>
</html>