@model doantotnghiepcnToeic.Models.Adminstrator

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Assets/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/templatemo-style.css" rel="stylesheet" />
    <link href="~/Assets/Site.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <title>Đăng nhập - Quản lý</title>
</head>

<body class="light-gray-bg">

    <div class="templatemo-content-widget templatemo-login-widget white-bg">

        <header class="text-center">
            <h2><b>HỆ THỐNG QUẢN LÝ</b></h2>
            <br />
            <h1><img src="~/Assets/Image/logo.png" height="30" width="45" /> <b>TOEICCLASS.COM</b></h1>
            <hr />
        </header>

        @using (Html.BeginForm())
        {

            <div class="templatemo-login-form">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" name="taikhoan" placeholder="Tài khoản" class="form-control" />
                        @*@Html.TextBoxFor(Model => Model.taikhoan, new { @class = "form-control", @placeholder = "Tên tài
                            khoản", @autofocus = "autofocus" })*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                        <input type="password" name="matkhau" placeholder="Mật khẩu" class="form-control" />
                        @*@Html.TextBoxFor(Model => Model.matkhau, new { @class = "form-control", @placeholder = "Mật khẩu",
                            @type = "password" })*@
                    </div>
                </div>

                <p class="text-danger">@ViewBag.Error</p>

                <div class="form-group">
                    <button type="submit" class="templatemo-blue-button width-100">Đăng nhập</button>
                </div>

            </div>

        }

    </div>

</body>

</html>