
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutQuiz.cshtml";
}

<div class="row">

    <div class="top-nav-list d-flex">

        <div class="finish-all">
            <button class="btn btn-success">Nộp bài</button>
        </div>
    </div>
    @*  *@
    <div class="question-list w-100">
        <div class="container">

            <div class="row question-list-row">
                <div class="col-12">

                    <div class="answer">
                        <p>
                            <b>1. ____ John found Maria hard to get along with, he did the best he could</b>
                        </p>
                        <ul class="answer-list">
                            <li>
                                <input type="radio" name="100" value="371" id="371">
                                <label for="371">
                                    <i class="icon icon_radio"></i>
                                    A. However difficult
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="372" id="372">
                                <label for="372">
                                    <i class="icon icon_radio"></i>
                                    B. Because of
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="373" id="373">
                                <label for="373">
                                    <i class="icon icon_radio"></i>
                                    C. Nevertheless
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="100" value="374" id="374">
                                <label for="374">
                                    <i class="icon icon_radio"></i>
                                    D. Although
                                </label>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="btn btn-success">Next</div>
            </div>

        </div>

    </div>

    @*  *@
</div>

